{% extends "base.twig" %}
{% block body %}
    <div class="">
        <div class="justify-content-center gurizone-login p-lg-3 m-lg-2 p-md-4 m-md-3 p-sm-4 m-sm-5 table-bordered">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 border p-4 rounded mb-4 ml-3">
                    <!--FILTRO CATEGORIA-->
                    <div class="btn-group mr-1 ml-md-auto float-right">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Filtrar por Categoria</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                            <a class="dropdown-item" href="{{ router.generateURL('Usuario','gestion') }}?categoria=todo&page=1">Todo</a>
                            <a class="dropdown-item" href="{{ router.generateURL('Usuario','gestion') }}?categoria=accesorios&page=1">Accesorios</a>
                            <a class="dropdown-item" href="{{ router.generateURL('Usuario','gestion') }}?categoria=ropa&page=1">Ropa</a>
                            <a class="dropdown-item" href="{{ router.generateURL('Usuario','gestion') }}?categoria=zapatillas&page=1">Zapatillas</a>
                        </div>
                    </div>
                    <!--FIN FILTRO CATEGORIA-->
                    <!--FILTRO FECHA-->
                    <div>
                        <div class="mt-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Filtrar por fecha</h3>
                            <form action="{{ router.generateURL('Usuario','gestion') }}" method="get">
                                <label for="fecha_inicial" class="d-flex text-black">Fecha Inicial</label>
                                <input type="date" id="fecha_inicial" name="fecha_inicial" class="mr-2 mt-1 form-control">
                                <label for="fecha_final" class="d-flex text-black">Fecha Final</label>
                                <input type="date" id="fecha_final" class="mr-2 mt-1 form-control" name="fecha_final">
                                <input type="submit" value="Filtrar" class="btn btn-primary mt-3">
                            </form>
                        </div>
                    </div>
                    <!--FIN FILTRO FECHA-->
                </div>
            </div>
            <!--FILTRO TABLA PRODUCTOS-->
            <div class="table-responsive">
                <table class="table table-hover table-sm table-responsive-sm table-responsive-md">
                    <thead class="thead-dark sticky-top">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ROL</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDOS</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">CONTRASEÑA</th>
                        <th scope="col">FOTO PERFIL</th>
                        <th scope="col">ESTADO</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in paginacion.getProductos %}
                        <tr>
                            <td><a href="#">1</a></td>
                            <td>Lorem ipsum</td>
                            <td>Lorem ipsum</td>
                            <td>Lorem ipsum</td>
                            <td>Lorem ipsum</td>
                            <td class="cut">Lorem ipsum</td>
                            <td>Activo</td>
                            <td>
                                <div>
                                    <a href="{{ router.generateURL('Producto','editarProducto',{id:producto.getIdProd}) }}"><button type="button" class="btn btn-primary mb-3">Editar</button></a>
                                </div>
                                <div>
                                    <a href="{{ router.generateURL('Producto','borrarProducto',{id:producto.getIdProd}) }}"><input type="button" class="btn btn-danger" value="Eliminar"></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--FIN FILTRO TABLA PRODUCTOS-->

            <!--PAGINACION: segun el filtro solicitado mostrara una paginacion u otra-->
            <div class="row" data-aos="fade-up">
                <div class="col-md-12 text-center">
                    <div class="site-block-27">
                        {% if fecha_inicial is not null and fecha_final is not null %}
                            <ul>
                                <li><a href="{{ router.generateURL('Usuario','gestion') }}?fecha_inicial={{ fecha_inicial }}&fecha_final={{ fecha_final }}?>&page={{ pagina<=0 ? paginacion.getPagina-1:'1' }}"><</a></li>
                                {% for i in 1..paginacion.getNumPaginas %}
                                    <li><a href="{{ router.generateURL('Usuario','gestion') }}?fecha_inicial={{ fecha_inicial }}&fecha_final={{ fecha_final }}&page={{ i }}"><span>{{ i }}</span></a></li>
                                {% endfor %}
                                <li><a href="{{ router.generateURL('Usuario','gestion') }}?fecha_inicial={{ fecha_inicial }}&fecha_final={{ fecha_final }}&page={{ paginacion.getPagina>=paginacion.getNumPaginas ? '1':paginacion.getPagina+1 }}">&gt;</a></li>
                            </ul>
                        {% else %}
                            <ul>
                                <li><a href="{{ router.generateURL('Usuario','gestion') }}?categoria={{ categoria }}&page={{ pagina<=0 ? paginacion.getPagina-1:'1' }}"><</a></li>
                                {% for i in 1..paginacion.getNumPaginas %}
                                    <li><a href="{{ router.generateURL('Usuario','gestion') }}?categoria={{ categoria }}&page={{ i }}"><span>{{ i }}</span></a></li>
                                {% endfor %}
                                <li><a href="{{ router.generateURL('Usuario','gestion') }}?categoria={{ categoria }}&page={{ paginacion.getPagina>=paginacion.getNimPaginas ?'1':paginacion.getPagina+1 }}">&gt;</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <!--FIN PAGINACION-->
            </div>
        </div>
    </div>
{% endblock %}